<div class="container">
  <h1>Questions</h1>
  <%= form_tag result_path, method: :get, id: "quiz-form" do %>
    <%= hidden_field_tag :student_id, @student.id %>
    <% @questions.each_with_index do |question, index| %>
      <div class="question">
        <h2>Q<%= index + 1 %>: <%= question.question %></h2>
        <% question.options.each do |option| %>
          <div class="form-check">
            <% if option.option1.present? %>
              <%= radio_button_tag "question_#{question.id}", option.id %>
              <%= label_tag "question_#{question.id}", option.option1 %><br>
            <% end %>
            <% if option.option2.present? %>
              <%= radio_button_tag "question_#{question.id}", option.id %>
              <%= label_tag "question_#{question.id}", option.option2 %><br>
            <% end %>
            <% if option.option3.present? %>
              <%= radio_button_tag "question_#{question.id}", option.id %>
              <%= label_tag "question_#{question.id}", option.option3 %><br>
            <% end %>
            <% if option.option4.present? %>
              <%= radio_button_tag "question_#{question.id}", option.id %>
              <%= label_tag "question_#{question.id}", option.option4 %><br>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <br>
    <%= submit_tag "Submit Answers" %>
  <% end %>
</div>



<script>
  document.getElementById('quiz-form').addEventListener('submit', function(event) {
    var questions = document.querySelectorAll('.question');
    var allQuestionsAnswered = true;
    questions.forEach(function(question) {
      var radioButtons = question.querySelectorAll('input[type="radio"]');
      var isAnswered = Array.from(radioButtons).some(function(radioButton) {
        return radioButton.checked;
      });
      if (!isAnswered) {
        allQuestionsAnswered = false;
      }
    });
    if (!allQuestionsAnswered) {
      alert('Please answer all the questions.');
      event.preventDefault(); // Prevent form submission
    }
  });
</script>